/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-size: 1rem;
    box-sizing: border-box;
}

:root {
    --color-primary: #007fC9; /* background */
    --color-grey: #7e7e7e;
    --color-light: #ccc; 
    --color-dark: #333;
    --color-white: #EDEDE6;
    --color-accent: #40d145; /* button */
    --color-tint: #45a049; /* button hover */
    --color-shadow: rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding: 0;
    background-color: var(--color-primary);
}

span {
    font-size: 2rem;
}

button {
    width: 70%;
    padding: 0.7rem 0rem 0.7rem 0rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color-white);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--color-accent);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px var(--color-shadow);
}
  
button:hover {
    background-color: var(--color-tint);
}

.start-button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.6rem;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.home-container {
    max-width: 25rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.65rem;
    box-shadow: 0 4px 8px var(--color-shadow);
    background-color: var(--color-white);
}

/*================================================================= MEDIA QUERIES =========================================================================*/
@media screen and (max-height: 600px) {
    .home-container {
        height: 98%;
    }
}

@media (max-width: 600px) {
    .home-container {
        padding: 1rem;
        width: 90%; 
    }
  
    button {
        width: 80%;
    }
}

@media screen and (max-width: 280px) {
    .player-input label {
        font-size: 1.1rem;
    }
  
    .board {
        padding-top: 1rem;
        padding-bottom: 1rem;
        grid-template-columns: repeat(3, 60px);
        grid-gap: 0.3rem;
    }

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        font-size: 1.8rem;
        margin-bottom: -0.25rem;
    }

    .home-container {
        padding: 0.5rem; 
    }
  
    button {
        width: 60%; 
        font-size: 1rem;
    }
}