/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-size: 1rem;
    box-sizing: border-box;
}

:root {
    --color-primary: #007fC9; /* background */
    --color-grey: #7e7e7e;
    --color-light: #ccc; 
    --color-dark: #333;
    --color-white: #EDEDE6;
    --color-accent: #40d145; /* button */
    --color-tint: #45a049; /* button hover */
    --color-shadow: rgba(0, 0, 0, 0.1);

    --container-width-md: 80%;
    --container-height-md: 80%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding: 0;
    background-color: var(--color-primary);
}

span {
    font-size: 2rem;
}

button {
    width: 70%;
    padding: 0.7rem 0rem 0.7rem 0rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color-white);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--color-accent);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px var(--color-shadow);
}
  
button:hover {
    background-color: var(--color-tint);
}

.home-btn {
    margin: 1.5rem 0 1rem;
}

.start-btn {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.6rem;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.home-container {
    max-width: 25rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.65rem;
    box-shadow: 0 4px 8px var(--color-shadow);
    background-color: var(--color-white);
}


@media (max-width: 600px) {
    :root {
        --container-width-md: 90%; /* Make container wider for small screens */
    }
  
    .home-container {
        padding: 1rem; /* Add more padding for better readability on small screens */
    }
  
    button {
        width: 90%; /* Adjust button width for better touch interaction */
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    :root {
        --container-width-md: 70%; /* Moderate container width for medium screens */
    }
}

@media (max-width: 600px) {
    .home-container {
        padding: 1rem; /* Add more padding for better readability on small screens */
    }
  
    button {
        width: 80%; /* Adjust button width for better touch interaction */
    }
}

@media (max-width: 280px) {
    * {
        font-size: 0.8rem;
    }

    :root {
        --container-width-md: 95%;
    }
  
    .home-container {
        padding: 0.5rem; /* Adjust padding for better use of limited space */
    }
  
    button {
        width: 60%; /* Make buttons full width for better touch interaction */
        font-size: 1rem;
    }
}